<html>
    <head>
        <title>Create Restaurant</title>
    </head>
    <body>
        <form action="/createRestaurant" method="POST" enctype="multipart/form-data">
            restaurant_id:<br>
            <input type="text" name="restaurant_id">
            <br>
            name:<br>
            <input type="text" name="name" required>
            <br>
            borough:<br>
            <input type="text" name="borough">
            <br>
            cuisine:<br>
            <input type="text" name="cuisine">
            <br>
            photo:<br>
            <input type="file" name="photo">
            <br>
            street:<br>
            <input type="text" name="street">
            <br>
            building:<br>
            <input type="text" name="building">
            <br>
            zipcode:<br>
            <input type="text" name="zipcode">
            <br>
            X-coord:<br>
            <input type="text" name="x">
            <br>
            Y-coord:<br>
            <input type="text" name="y">
            <br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>