<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        Hello <%= userid %>!!!
        <a href="/display">Display restaurant</a>
        <a href="/createRestaurant">Create restaurant document</a>
    </body>
</html>