<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        Hello <%= userid %>!!!
    </br>
        <a href="/display">Display restaurant</a>
    </br>
        <a href="/createRestaurant">Create restaurant document</a>
    </br>
        <a href="/search">Seach Restaurant</a>
</br>
<a href="/logout">Logout</a>
    </body>
</html>