<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        Hello <%= userid %>!!!
        <a href="/register">Register now</a>
        <a href="/login">Login</a>
        <a href="/createRestaurant">Create restaurant document</a>
        <a href="/updateRestaurant">Update restaurant document</a>
    </body>
</html>