<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="POST">
            UserID:<br>
            <input type="text" name="userid">
            <br>
            Password:<br>
            <input type="text" name="password">
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>